{% extends "user_auth/auth_base.html" %}


{% block title %}
    <title>Login</title>
{% endblock %}


{% block formblock %}

    <form class="login100-form validate-form" action="{% url 'user_auth:login' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% if user.is_authenticated %}

        <div class="text-center p-t-46 p-b-20">
            <p><span style="font-size: 20px;">Logged In successfully as {{ user.username }}</span></p>
        </div>

        <div class="container-login100-form-btn">
            <a href="{% url 'user_auth:logout' %}"><button class="login100-form-btn">Logout</button></a>
        </div>

        <div class="text-center p-t-46 p-b-20">
            <a href="{% url 'menu:menu' %}"><span style="font-size: 15px;">Click here to Continue</span></a>
        </div>

        {% else %}

        <span class="login100-form-title p-b-43">Logins to continue</span>
            
        <div class="wrap-input100 validate-input" data-validate = "Valid username is required">
            <input class="input100" type="text" name="username">
            <span class="focus-input100"></span>
            <span class="label-input100">Username</span>
        </div>
            
        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <input class="input100" type="password" name="pass">
            <span class="focus-input100"></span>
            <span class="label-input100">Password</span>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-32">
            <div class="contact100-form-checkbox">
                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                <label class="label-checkbox100" for="ckb1">Remember me</label>
            </div>

            <div>
                <a href="#" class="txt1">Forgot Password?</a>
            </div>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn">Login</button>
        </div>
            
        <div class="text-center p-t-46 p-b-20">
            <a href="{% url 'user_auth:signup' %}"><span style="font-size: 15px;">Click here to Signup</span></a>
        </div>
        {% endif %}
    </form>

{% endblock %}