{% extends "user_auth/auth_base.html" %}

{% block title %}
    <title>Signup</title>
{% endblock %}

{% block formblock %}

    <form class="login100-form validate-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if registered %}

        <div class="container-login100-form-btn">
            <button class="login100-form-btn" disabled>Successfully Registered!</button>
        </div>
                
        <div class="text-center p-t-46 p-b-20">
            <a href="{% url 'user_auth:login' %}"><span style="font-size: 15px;">Login to Continue</span></a>
        </div>

        {% else %}
        <span class="login100-form-title p-b-43">Signup</span>
        
        <div class="wrap-input100 validate-input" data-validate = "Valid username is required">
            <!-- <input class="input100" type="text" name="uname" id="username" onblur="obj.checkUnameAvailable()"> -->
            {{ user_form.username }}
            <span class="focus-input100"></span>
            <span class="label-input100">Username</span>
        </div>
            
        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <!-- <input class="input100" type="password" name="pass"> -->
            {{ user_form.password }}
            <span class="focus-input100"></span>
            <span class="label-input100">Password</span>
        </div>
        
        <div class="wrap-input100 validate-input" data-validate="Email is required">
            {{ profile_form.email }}
            <span class="focus-input100"></span>
            <span class="label-input100">Email</span>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn">Signup</button>
        </div>
            
        <div class="text-center p-t-46 p-b-20">
            <a href="{% url 'user_auth:login' %}"><span style="font-size: 15px;">Back to Login</span></a>
        </div>

        {% endif %}
    </form>

{% endblock %}


{% block ajax %}
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        
        var obj = {
            xhr: new XMLHttpRequest(),

            checkUnameAvailable: function(){

                var usernameField = document.getElementById("username").value;

                this.xhr.onreadystatechange = this.showDetail;

                this.xhr.open("GET","{% url 'user_auth:getUsers' %}"+"?username="+usernameField,true);
                // console.log("{% url 'user_auth:getUsers' %}"+"?username="+usernameField);

                this.xhr.send();
                // console.log("Done");
            },

            showDetail: function(){
                if(this.status == 200 && this.readyState == 4){
                    // console.log(this.responseText);
                    var json_response = JSON.parse(this.responseText);

                    if(json_response.availability != "true"){
                        swal("Oops!", "This Username is not available!", "error");
                    }
                }
            }
        }

    </script>
{% endblock %}